#!/usr/bin/bash

yabai -m rule --add app="^System Settings$" manage=off
yabai -m rule --add app="^Signal$" manage=off
yabai -m rule --add app="^Messages$" manage=off
yabai -m rule --add app"^WezTerm$" display=^1

{{- if eq .chezmoi.hostname "iMac" }}
yabai -m config layout bsp \
  external_bar all:40:0 \
  top_padding 10 \
  bottom_padding 15 \
  left_padding 15 \
  right_padding 15 \
  window_gap 15

{{- else }}
yabai -m config layout bsp \
  external_bar all:40:0 \
  top_padding 5 \
  bottom_padding 10 \
  left_padding 10 \
  right_padding 10 \
  window_gap 10

{{- end }}
