{{- if eq .colorScheme "Rose Pine" }}
  return {
    black = 0xff232136,    -- base
    white = 0xffe0def4,    -- text
    red = 0xffeb6f92,      -- love
    green = 0xff3e8fb0,    -- pine
    blue = 0xff9ccfd8,     -- foam
    yellow = 0xfff6c177,   -- gold
    orange = 0xffea9a97,   -- rose
    magenta = 0xffc4a7e7,  -- iris
    grey = 0xff6e6a86,     -- muted
    transparent = 0x00000000,

    bar = {
      bg = 0x00000000,       -- surface
      border = 0xff524f67,   -- highlightHigh
    },
    popup = {
      bg = 0xc0393552,       -- overlay with alpha
      border = 0xff44415a,   -- highlightMed
    },
    bg1 = 0xff2a283e,         -- highlightLow
    bg2 = 0xff393552,         -- overlay

    with_alpha = function(color, alpha)
      if alpha > 1.0 or alpha < 0.0 then
        return color
      end
      return (color & 0x00ffffff) | (math.floor(alpha * 255.0) << 24)
    end,
  }
{{- else }}
  return {
    black = 0xff181819,
    white = 0xffe2e2e3,
    red = 0xffcc241d,
    green = 0xff98971a,
    blue = 0xff458558,
    yellow = 0xffd79921,
    orange = 0xffd65d0e,
    magenta = 0xffb16286,
    grey = 0xff928375,
    transparent = 0x00000000,

    bar = {
      bg = 0x00000000,
      border = 0xff2c2e34,
    },
    popup = {
      bg = 0xff2c2e34,
      border = 0xff7f8490,
    },
    bg1 = 0xff282828,
    bg2 = 0xff3c3836,

    with_alpha = function(color, alpha)
      if alpha > 1.0 or alpha < 0.0 then
        return color
      end
      return (color & 0x00ffffff) | (math.floor(alpha * 255.0) << 24)
    end,
  }
{{- end }}
